<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragment/main :: page">
<head>
    <meta charset="UTF-8">
    <title>Reports</title>
</head>
<body>
<div th:fragment="content">
    <!-- Basic layout-->
    <div class="col-md-9">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h2 class="panel-title">Admin Portal</h2>
            </div>
            <div class="panel-body ">
                <div class="table-responsive">
                    <table class="table table-bordered table-framed">
                        <thead>
                        <tr>
                            <th><a th:href="@{/cashier/list}">Cashier</a></th>
                            <th><a th:href="@{/report/batch/merchant/advanced-search}">Amount Recovered By Merchant</a>
                            </th>
                            <th><a th:href="@{/report/batch/approver-batches}">Approver  Batches </a></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>