<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:include="fragment/main :: page">
<head>
    <meta charset="UTF-8">
</head>
<div th:fragment="content">
    <div class="row">
        <div class="col-md-9">
            <!-- Basic layout-->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h2 th:text="${title}" class="panel-title"></h2>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal form-label-left" th:object="${barcode}" th:action="@{/barcode/edit}" method="POST">
                        <input id="code" type="hidden" name="id" th:field="*{id}"/>
                        <input id="created" type="hidden" name="created" th:field="*{created}"/>
                        <input id="version" type="hidden" name="version" th:field="*{version}"/>
                        <div class="ln_solid"></div>

                        <div class="form-group form-group-xlg">
                            <label class="control-label col-lg-2"> Barcode Number<span class="text-danger">*</span></label>
                            <div class="col-lg-10">
                                <input class="form-control" id="name" th:field="*{barcode}" type="text" required="required"/>
                            </div>
                        </div>


                        <div class="form-group form-group-xlg">
                            <label class="control-label col-lg-2">Product<span class="text-danger">*</span></label>
                            <div class="col-lg-10">
                                <select id="merchantMsisdn" th:field="*{product}"
                                        class="form-control " required="required">
                                    <option value="">--Select--</option>
                                    <option th:each="product : ${products}"
                                            th:value="${product.code}" th:text="${product.name}">
                                    </option>

                                </select>

                            </div>
                        </div>


                        <div class="form-group form-group-xlg">
                            <label class="control-label col-lg-2"> Unit<span class="text-danger">*</span></label>
                            <div class="col-lg-10">
                                <input class="form-control" id="name" th:field="*{unit}" type="text" required="required"/>
                            </div>
                        </div>

                            <div class="form-group form-group-xlg">
                                <label class="control-label col-lg-2">Unit Size</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="lastname" th:field="*{unitSize}" type="text" required="required"/>
                                </div>
                            </div>

                        <div class="form-group form-group-xlg">
                            <label class="control-label col-lg-2"></label>
                            <div class="col-lg-10">
                                <button type="submit" id="saveButton" class="btn btn-primary">Save</button>
                                <a th:href="@{/barcode/list}" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</html>