<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:include="fragment/main :: page">
<head>
    <meta charset="UTF-8">
</head>

<div th:fragment="content">
    <div class="content">
        <!-- Basic layout-->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h1 class="panel-title">Barcodes</h1>
                <div class="heading-elements">
                    <div class="heading-btn-group">
                        <a th:href="@{/barcode/edit}" class="btn btn-link btn-float has-text"><i
                                class="glyphicon glyphicon-plus"></i><span> Add Barcode</span></a>
                    </div>
                </div>
            </div>
            <div class="panel-body">

                <div th:if="${not #lists.isEmpty(list)}" class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                        <tr class="headings bg-teal-400">
                            <th class="column-title"> Bacode</th>
                            <th class="column-title">Product</th>
                            <th class="column-title">Unit Size</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="barcode : ${list}" class="even pointer">
                            <td><a th:href="@{/barcode/edit(id=${barcode.id})}" th:text="${barcode.barcode}"></a></td>
                            <td ><span th:text="${barcode.product.name}"></span></td>
                            <td ><span th:text="${barcode.unitSize}"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
</html>