<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:include="fragment/main :: page">
<head>
    <meta charset="UTF-8">
</head>
<div th:fragment="content">
    <div class="row">
        <div class="col-md-9">
            <!-- Basic layout-->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h2 th:text="${title}" class="panel-title"></h2>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal form-label-left" th:object="${cashier}" th:action="@{/cashier/edit}" method="POST">
                        <input id="id" type="hidden" name="id" th:field="*{id}"/>
                        <input id="created" type="hidden" name="created" th:field="*{created}"/>
                        <input id="version" type="hidden" name="version" th:field="*{version}"/>
                        <div class="ln_solid"></div>

                        <div class="form-group form-group-xlg">
                            <label class="control-label col-lg-2">Cashier  Name<span class="text-danger">*</span></label>
                            <div class="col-lg-10">
                                <input class="form-control" id="name" th:field="*{name}" type="text" required="required"/>
                            </div>
                        </div>

                            <div class="form-group form-group-xlg">
                                <label class="control-label col-lg-2">Cashier Sirname <span class="text-danger">*</span></label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="lastname" th:field="*{lastname}" type="text" required="required"/>
                                </div>
                            </div>

                        <div class="form-group form-group-xlg">
                            <label class="control-label col-lg-2">Cashier Code<span class="text-danger">*</span></label>
                            <div class="col-lg-10">
                                <input class="form-control" id="code" th:field="*{code}" type="text" required="required"/>
                            </div>
                        </div>
                        <div class="form-group form-group-xlg">
                            <label class="control-label col-lg-2"></label>
                            <div class="col-lg-10">
                                <button type="submit" id="saveButton" class="btn btn-primary">Save</button>
                                <a th:href="@{/cashier/list}" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</html>