<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<body>
<div th:fragment="footer">
    <footer>
        <div class="footer text-muted ">
            <span class="text-center">&copy; <a th:text="${#dates.year(#dates.createNow())} " href="#"></a> All Rights Reserved.Softhub Dev</span>
        </div>
    </footer>
</div>
</body>
</html>