<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Chiremba | </title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/icons/icomoon/styles.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/core.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/components.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/colors.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/crons.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/cron2.css}" rel="stylesheet" type="text/css"/>
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script th:src="@{/assets/js/plugins/loaders/pace.min.js}"></script>
    <script th:src="@{/assets/js/core/libraries/jquery.min.js}"></script>
    <script th:src="@{/assets/js/core/libraries/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/plugins/loaders/blockui.min.js}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script th:src="@{/assets/js/plugins/visualization/d3/d3.min.js}"></script>
    <script th:src="@{/assets/js/plugins/visualization/d3/d3_tooltip.js}"></script>
    <script th:src="@{/assets/js/plugins/forms/styling/switchery.min.js}"></script>
    <script th:src="@{/assets/js/plugins/forms/styling/uniform.min.js}"></script>
    <script th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
    <script th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
    <script th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>
    <script th:src="@{/assets/js/core/app.js}"></script>
    <script th:src="@{/assets/js/pages/form_layouts.js}"></script>
    <script th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>
    <script th:src="@{/assets/js/cron/later.min.js}"></script>
    <script th:src="@{/assets/js/cron/prettycron.js}"></script>
    <script th:src="@{/assets/js/cron/jquery-cron.js}"></script>
    <script th:src="@{/assets/js/file_upload.js}"></script>
    <script th:src="@{/assets/js/cron/jquery-gentleSelect.js}"></script>
    <script th:src="@{/assets/js/cron/jquery-gentleSelect-min.js}"></script>
    <script th:src="@{/assets/js/cron/jquery-gentleSelect.js}"></script>

</head>

<body>
<div class="navbar navbar-default header-highlight">
    <div th:replace="fragment/header :: header">********Header********</div>
</div>
<div class="page-container">
    <div class="page-content">
        <!-- Main sidebar -->
        <div class="sidebar sidebar-main">
            <div th:replace="fragment/side-menu-accounts :: side-menu-accounts">********side-menu********</div>
        </div>
        <!-- main sidebar -->
        <div class="content-wrapper">
            <div th:if="${message != null}"  class="alert "  th:classappend="${message.type == T(com.softhub.utils.MessageType).ERROR} ?'alert bg-danger':'alert bg-success'">
                <button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
                <span th:text="${message.text}"></span>
            </div>
            <div th:replace="this :: content">*******Center Content***********</div>
        </div>
    </div>
</div>
</body>
</html>