<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<div th:fragment="side-menu-accounts">
    <!-- Main sidebar -->
    <div class="sidebar sidebar-main">
        <div class="sidebar-content">

            <!-- User menu -->
            <div class="sidebar-user">
                <div class="category-content">
                    <div class="media">
                        <a href="#" class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
                        <div class="media-body">
                            <span class="media-heading text-semibold">Victoria  Mberi</span>
                            <div class="text-size-mini text-muted">
                                <i class="icon-pin text-size-small"></i> &nbsp;Harare
                            </div>
                        </div>

                        <div class="media-right media-middle">
                            <ul class="icons-list">
                                <li>
                                    <a href="#"><i class="icon-cog3"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /user menu -->
            <!-- Main navigation -->
            <div class="sidebar-category sidebar-category-visible">
                <div class="category-content no-padding">
                    <ul class="navigation navigation-main navigation-accordion">

                        <li class="active"><a th:href="@{/home}"><i class="icon-home4"></i><span>Dashboard</span></a>
                        </li>
                        <li><a th:href="@{/recovery/upload}"><i class="icon-reload-alt"></i>
                            <span>CASHBOOK</span></a></li>
                        <li ><a th:href="@{/batch/list-by-initiator-name}"><i class="icon-stack2"></i>
                            <span>BANK</span></a></li>
                        <li ><a th:href="@{/approval-request/list}"><i class="icon-stack"></i> <span>LEDGER </span></a>
                        </li>
                        <li><a th:href="@{/report/home}"><i class="icon-book2"></i> <span>JOURNAL</span></a></li>
                        <li><a th:href="@{/report/home}"><i class="icon-book2"></i> <span>DEBTORS</span></a></li>
                        <li><a th:href="@{/report/home}"><i class="icon-book2"></i> <span>TRANSACTIONS</span></a></li>
                        <!-- /main -->
                    </ul>
                </div>
            </div>
            <!-- /main navigation -->
        </div>
    </div>
    <!-- /main sidebar -->
</div>
</body>
</html>