<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<div th:fragment="side-menu">
    <!-- Main sidebar -->
    <div class="sidebar-content">
        <!-- User menu -->
        <div class="sidebar-user">
            <div class="category-content">
                <div class="media">
                    <a href="#" class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
                    <div class="media-body">
                        <span class="media-heading text-semibold">Victoria  Mberi</span>
                        <div class="text-size-mini text-muted">
                            <i class="icon-pin text-size-small"></i> &nbsp;Harare
                        </div>
                    </div>

                    <div class="media-right media-middle">
                        <ul class="icons-list">
                            <li>
                                <a href="#"><i class="icon-cog3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /user menu -->

        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">
                    <!-- Main -->
                    <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                    <li ><a href="" ><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                    <li>
                        <a th:href="@{/pos}"><i class="icon-stack2"></i> <span>Pos</span></a>

                        <ul>
                            <li><a th:href="@{/qoatation}">Qoatation </a></li>
                            <li><a th:href="@{/customer}">Customer</a></li>
                            <li><a th:href="@{/supervisor}">Supervisor</a></li>
                            <li><a th:href="@{/reports}">Reports</a></li>
                        </ul>
                    </li>
                    <li>
                        <a  th:href="@{/}"><i class="icon-copy"></i>Procurement <span></span></a>
                        <ul>
                            <li><a th:href="@{/manufacturer}">Manufacturer </a></li>
                            <li><a th:href="@{/purchaseorders}">Purchase Orders</a></li>
                            <li><a th:href="@{/transfers}">Transfers</a></li>
                            <li><a th:href="@{/location}">Location</a></li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/}"><i class="icon-droplet2"></i> <span>Accounts</span></a>
                        <ul>
                            <li><a th:href="@{/journal}">Journal </a></li>
                            <li><a th:href="@{/debtors}">Debtors</a></li>
                            <li><a th:href="@{/transactions}">Transactions</a></li>
                            <li><a th:href="@{/ledger}">Ledger</a></li>
                            <li><a th:href="@{/customer}">Customer</a></li>
                            <li><a th:href="@{/cashbook}">Cashbook</a></li>
                            <li><a th:href="@{/bank}">Bank</a></li>
                        </ul>

                    </li>
                    <li>
                        <a href="#"><i class="icon-stack"></i> <span>Admin</span></a>
                        <ul>
                            <li><a th:href="@{/cashier/list}">Cashiers </a></li>
                            <li><a th:href="@{/product/list}">Product</a></li>
                            <li><a th:href="@{/barcode/list}">Barcode</a></li>
                            <li><a th:href="@{/product-vat/list}">Vat</a></li>
                            <li><a th:href="@{/product-vat/list}">Customer</a></li>
                        </ul>

                    </li>
                </ul>
            </div>
        </div>
        <!-- /main navigation -->
    </div>
</div>
</body>
</html>
<!-- /main sidebar -->






















<!-- Main sidebar -->
<!-- <div class="sidebar sidebar-main">
     <div class="sidebar-content">

         <!-- User menu -
         <div class="sidebar-user">
             <div class="category-content">
                 <div class="media">
                     <div class="media-body">
                         <span sec:authorize="isAuthenticated()">
                         <span sec:authentication="name" class="media-heading text-semibold">Firstname Surname</span>
                         </span>
                     </div>
                 </div>
             </div>
         </div>
         <!-- /user menu
         <!-- Main navigation
         <div class="sidebar-category sidebar-category-visible">
             <div class="category-content no-padding">
                 <ul class="navigation navigation-main navigation-accordion">

                     <li class="active"><a th:href="@{/home}"><i class="icon-home4"></i><span>Dashboard</span></a>
                     </li>
                     <li ><a th:href="@{/home/pos}"><i class="icon-reload-alt"></i>
                         <span>POS</span></a></li>
                     <li ><a th:href="@{/batch/list-by-initiator-name}"><i class="icon-stack2"></i>
                         <span>ACCOUNTING</span></a></li>
                     <li ><a th:href="@{/approval-request/list}"><i class="icon-stack"></i> <span>INVENTORY</span></a>
                     </li>
                     <li><a th:href="@{/report/batch/batch-search-home}"><i class="icon-search4"></i> <span>ADMIN</span></a></li>

                     <!-- /main -
                 </ul>
             </div>
         </div>
         <!-- /main navigation -

     </div>
 </div>
 <!-- /main sidebar -->

</div>
</body>
</html>