<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chiremba | Login</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/colors.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/icons/icomoon/styles.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/core.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/components.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/colors.css}" rel="stylesheet"/>
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script th:src="@{/assets/js/plugins/loaders/pace.min.js}"></script>
    <script th:src="@{/assets/js/core/libraries/jquery.min.js}"></script>
    <script th:src="@{/assets/js/core/libraries/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/plugins/loaders/blockui.min.js}"></script>
    <!-- /core JS files -->


    <!-- Theme JS files -->
    <script th:src="@{/assets/js/core/app.js}"></script>
    <!-- /theme JS files -->

</head>

<body>
<!-- Page container -->
<div class="page-container login-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Simple login form -->
            <form th:action="@{/login}" method="POST">
                <div class="panel panel-body login-form">

                    <div class="text-center">
                        <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
                        <h5 class="content-group">Login to your account <small class="display-block">Enter your credentials below</small></h5>
                    </div>

                    <div class="form-group has-feedback has-feedback-left">
                        <input type="text" name="username" class="form-control" placeholder="Username">
                        <div class="form-control-feedback">
                            <i class="icon-user text-muted"></i>
                        </div>
                    </div>

                    <div class="form-group has-feedback has-feedback-left">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                        <div class="form-control-feedback">
                            <i class="icon-lock2 text-muted"></i>
                        </div>
                    </div>

                    <p th:if="${param.error}" style="color: red;">Invalid username and password combination</p>
                    <p th:if="${param.logout}">You have been successfully logged out</p>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Sign in <i class="icon-circle-right2 position-right"></i></button>
                    </div>

                    <div th:if="${message != null}"  class="alert "  th:classappend="${message.type == T(com.cassavasmartech.utils.MessageType).ERROR} ?'alert bg-danger':'alert bg-success'">
                        <button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
                        <small class="display-block"><span th:text="${message.text}"></span></small>
                    </div>

                    <div class="text-center">
                        <a th:href="@{/user/forgot-password}">Forgot password?</a>
                    </div>
                    <div class="text-center">
                        <a th:href="@{/user/registration}">Register?</a>
                    </div>
                </div>
            </form>
            <!-- /simple login form -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->
    <!-- Footer -->
    <div th:replace="fragment/footer :: footer">********footer********</div>
    <!-- /footer -->

</div>
<!-- /page container -->

</body>
</html>
